*, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background: #505050;
  font-family: "Lato", sans-serif;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

.container-fluid {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  padding: 0;
}

.header {
  width: 100%;
  background-image: url(../img/headerBackground.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.headerContainer {
  padding: 35px 30px 0;
}

@media (max-width: 991px) {
  .headerContainer {
    padding: 20px 20px 0;
  }
}

.header .b-headerMenu:after {
  content: '';
  display: block;
  clear: both;
}

.header .b-headerMenuTitle {
  width: auto;
  color: #fff;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
}

@media (min-width: 992px) {
  .header .b-headerMenuTitle_size_lg {
    float: left;
    margin-top: 7px;
  }
}

@media (max-width: 991px) {
  .header .b-headerMenuTitle_size_md {
    margin-bottom: 25px;
  }
}

@media (max-width: 575px) {
  .header .b-headerMenuTitle_size_xs {
    float: left;
    position: absolute;
  }
}

.header .b-headerMenuTitle__link {
  width: auto;
  display: block;
  color: inherit;
  line-height: 30px;
  transition: .3s;
  text-shadow: 15px 15px 2px #000;
}

.header .b-headerMenuTitle__link:hover {
  color: #ffc61a;
}

.header .b-headerMenuTitle__link:hover > * {
  color: #ffc61a;
  transition: inherit;
}

.header .b-headerMenuTitle__decorate {
  display: inline-block;
  color: #daa504;
  text-transform: uppercase;
  line-height: 30px;
}

.header .b-headerMenuTitle__txt {
  display: block;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 11px;
  margin-top: 11px;
  letter-spacing: 3px;
}

@media (max-width: 575px) {
  .header .b-headerMenuTitle__txt_size_xs {
    letter-spacing: 2px;
  }
}

.header .b-headerMenuList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (min-width: 992px) {
  .header .b-headerMenuList_size_lg {
    float: right;
  }
}

@media (max-width: 767px) {
  .header .b-headerMenuList_size_sm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
}

@media (max-width: 575px) {
  .header .b-headerMenuList_size_xs {
    display: none;
  }
}

.header .b-headerMenuList__item {
  width: auto;
  display: block;
  font-size: 17px;
  font-weight: 900;
  text-align: center;
  color: #fff;
  line-height: 34px;
  padding: 0 15px;
  border-radius: 17px;
  border: 1px solid transparent;
  text-transform: uppercase;
  transition: 0.5s;
}

.header .b-headerMenuList__item:hover {
  color: #ffc61a;
  border: 1px solid #ffc61a;
}

@media (max-width: 767px) {
  .header .b-headerMenuList__item_size_sm {
    width: auto;
    margin: auto;
  }
}

@media (min-width: 992px) {
  .header .b-headerMenuList__item_size_lg {
    margin-left: 5px;
  }
}

.header .b-headerMenuList__item_current {
  color: #010101;
  background-color: #ffc61a;
}

.header .b-headerMenuList__item_current:hover {
  color: #fff;
}

.header .pos-f-t {
  display: none;
}

.header .pos-f-t .navbar {
  justify-content: flex-end;
}

.header .pos-f-t .navbar-dark .navbar-toggler {
  border-color: #ffc61a;
}

@media (max-width: 575px) {
  .header .pos-f-t {
    float: right;
    display: block;
    width: 100%;
  }
}

.header .pos-f-t .p-4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: flex-end;
}

.header .pos-f-t .p-4 img {
  display: block;
  flex-shrink: 1;
  width: 100%;
  max-width: 350px;
  order: 2;
  align-self: flex-start;
}

.header .pos-f-t .p-4 .b-headerMenuList {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
  flex-shrink: 0;
}

.header .b-headerBooking {
  color: #fff;
  font-weight: 900;
}

.header .b-headerBooking_center {
  margin: 60px auto 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 767px) {
  .header .b-headerBooking_center {
    margin: 40px auto 0;
  }
}

@media (max-width: 575px) {
  .header .b-headerBooking_center {
    margin-top: 20px;
  }
}

.header .b-headerBooking__title {
  color: #ffc61a;
  font-size: 36px;
  line-height: 26px;
  text-transform: uppercase;
}

.header .b-headerBooking__title_center {
  margin-bottom: 20px;
}

@media (max-width: 575px) {
  .header .b-headerBooking__title_size_xs {
    font-size: 24px;
  }
}

.header .b-headerBooking__tel, .header .b-headerBooking__site {
  display: block;
}

.header .b-headerBooking__tel {
  font-size: 72px;
  line-height: 55px;
  transition: .3s;
}

.header .b-headerBooking__tel:hover {
  color: inherit;
  transform: scale(1.05, 1);
}

.header .b-headerBooking__tel_center {
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .header .b-headerBooking__tel_size_sm {
    font-size: 46px;
  }
}

@media (max-width: 575px) {
  .header .b-headerBooking__tel_size_xs {
    font-size: 32px;
    line-height: 36px;
  }
}

.header .b-headerBooking__site {
  font-size: 20px;
  line-height: 15px;
  font-variant: small-caps;
  letter-spacing: 5px;
  transition: .3s;
}

.header .b-headerBooking__site:hover {
  color: #ffc61a;
}

.header .b-headerBooking__site_center {
  margin-bottom: 65px;
}

@media (max-width: 767px) {
  .header .b-headerBooking__site_size_sm {
    margin-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .header .b-headerBooking__site_size_xs {
    letter-spacing: normal;
  }
}

.header .b-headerBooking__image {
  display: block;
  max-width: 826px;
  width: 70%;
}

@media (max-width: 767px) {
  .header .b-headerBooking__image {
    width: 90%;
  }
}

@media (max-width: 575px) {
  .header .b-headerBooking__image {
    display: none;
  }
}

.header .b-headerBooking__image_center {
  margin-bottom: -115px;
  position: relative;
  z-index: 1;
}

.main {
  background-color: #fff;
}

.main .b-mainDiscribe {
  background-color: #ffc61a;
}

.main .b-mainDiscribeContainer {
  padding: 190px 30px 80px;
}

@media (max-width: 991px) {
  .main .b-mainDiscribeContainer_size_md {
    padding: 190px 20px 30px;
  }
}

@media (max-width: 575px) {
  .main .b-mainDiscribeContainer_size_xs {
    padding-top: 30px;
  }
}

.main .b-mainDiscribeContainer .row {
  margin: 0;
}

@media (max-width: 575px) {
  .main .b-mainDiscribeInfo_size_xs {
    text-align: center;
  }
}

.main .b-mainDiscribeInfo__title {
  color: #100f0f;
  font-size: 50px;
  font-weight: 900;
  text-align: inherit;
  text-transform: uppercase;
}

.main .b-mainDiscribeInfo__title_top {
  margin-bottom: 45px;
}

.main .b-mainDiscribeInfo__best {
  display: block;
  color: rgba(0, 0, 0, 0.68);
  font-size: 35px;
  line-height: 26px;
  font-weight: 900;
  text-align: inherit;
}

.main .b-mainDiscribeInfo__best_top {
  margin-bottom: 25px;
}

.main .b-mainDiscribeInfo__txt {
  color: #100f0f;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
}

.main .b-mainDiscribeInfo__txt_middle {
  margin-bottom: 60px;
}

.main .b-mainDiscribeInfo__btn {
  display: inline-block;
  border-radius: 7px;
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
  font-size: 24px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  padding: 12px 35px;
  box-shadow: 5px 5px 40px 0 #000;
}

.main .b-mainDiscribeInfo__btn:hover {
  color: #ffc61a;
}

.main .b-mainDiscribeInfo__btn:active {
  box-shadow: none;
  transform: scale(0.95, 0.95);
}

.main .b-mainDiscribeBooking {
  background-color: #fff;
  box-shadow: 5px 5px 40px 0 #000;
  border-radius: 20px;
}

@media (max-width: 991px) {
  .main .b-mainDiscribeBooking_size_md {
    margin-top: 30px;
  }
}

.main .b-mainDiscribeBooking__title {
  background-color: #171717;
  color: #fff;
  font-size: 35px;
  line-height: 25px;
  font-weight: 900;
  text-align: center;
  padding: 25px 20px;
  text-transform: uppercase;
  border: 6px solid #ffc61a;
  border-radius: 20px;
  box-shadow: 5px 5px 40px 0 #000;
  animation-name: glowingTitle;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes glowingTitle {
  from {
    text-shadow: 0px 0px 50px #ffc61a;
    border-color: transparent;
  }
  to {
    text-shadow: 0px 0px 25px #fff;
    border-color: #ffc61a;
    border-color: rgba(255, 198, 26, 0.5);
  }
}

.main .b-mainDiscribeBooking__decorate {
  color: #ffc61a;
  animation-name: glowingDecorate;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes glowingDecorate {
  from {
    text-shadow: 0px 0px 50px #fff;
  }
  to {
    text-shadow: 0px 0px 25px #ffc61a;
  }
}

.main .b-mainDiscribeBooking__decorate:hover {
  text-shadow: none;
}

.main .b-mainDiscribeBooking__form {
  padding: 0 20px 20px;
  margin-top: 30px;
}

.main .b-mainDiscribeBooking__item {
  display: block;
  width: 100%;
  min-height: 30px;
  margin-top: 20px;
  padding: 0;
  color: rgba(0, 0, 0, 0.68);
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  text-align: left;
  outline: #ffc61a;
  border: none;
  border-bottom: 3px solid #e4e4e4;
  caret-color: #000;
  background-color: transparent;
}

.main .b-mainDiscribeBooking__item_date::before, .main .b-mainDiscribeBooking__item_time::before {
  content: attr(placeholder) !important;
  display: block;
  float: left;
  color: rgba(0, 0, 0, 0.68);
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  margin-right: 10px;
}

.main .b-mainDiscribeBooking__item_date:focus::before, .main .b-mainDiscribeBooking__item_date:valid::before, .main .b-mainDiscribeBooking__item_time:focus::before, .main .b-mainDiscribeBooking__item_time:valid::before {
  content: "";
  display: none;
}

.main .b-mainDiscribeBooking__item::placeholder {
  color: rgba(0, 0, 0, 0.68);
  font-size: 20px;
  font-weight: 600;
  text-align: left;
}

.main .b-mainDiscribeBooking__choice {
  color: #000;
}

.main .b-mainDiscribeBooking__btn {
  display: block;
  width: 100%;
  margin-top: 40px;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  padding: 12px 0;
  border-radius: 7px;
  box-shadow: 5px 5px 40px 0 #000;
  outline: none;
}

.main .b-mainDiscribeBooking__btn:hover {
  color: #ffc61a;
}

.main .b-mainDiscribeBooking__btn:active {
  box-shadow: none;
  transform: scale(0.95, 0.95);
}

.footer {
  height: 500px;
  background-color: #c6cc71;
}
