*, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background: #505050;
  font-family: "Lato", sans-serif;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

.container-fluid {
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  padding: 0;
}

.header {
  width: 100%;
  background-image: url(../img/headerBackground.jpg);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  box-shadow: 0 12px 20px 0 #000;
  position: relative;
  z-index: 3;
}

.headerContainer {
  padding: 35px 30px 0;
}

@media (max-width: 991px) {
  .headerContainer {
    padding: 20px 20px 0;
  }
}

@media (max-width: 575px) {
  .headerContainer {
    padding: 20px 20px 30px;
  }
}

.b-headerMenu:after {
  content: '';
  display: block;
  clear: both;
}

.b-headerMenuTitle {
  width: auto;
  color: #fff;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
}

@media (min-width: 992px) {
  .b-headerMenuTitle_size_lg {
    float: left;
    margin-top: 7px;
  }
}

@media (max-width: 991px) {
  .b-headerMenuTitle_size_md {
    margin-bottom: 25px;
  }
}

@media (max-width: 575px) {
  .b-headerMenuTitle_size_xs {
    position: absolute;
    z-index: 2;
  }
}

.b-headerMenuTitle__link {
  width: auto;
  display: block;
  color: inherit;
  line-height: 30px;
  transition: .3s;
  text-shadow: 10px 10px 5px #000;
}

.b-headerMenuTitle__link:hover {
  color: #ffc61a;
  transition: .3s;
}

.b-headerMenuTitle__link:hover > * {
  color: #ffc61a;
  transition: inherit;
}

.b-headerMenuTitle__link:active {
  transform: scale(0.95, 0.95);
  text-shadow: 5px 5px 5px #000;
  transition: 0s;
}

.b-headerMenuTitle__decorate {
  display: inline-block;
  color: #daa504;
  text-transform: uppercase;
  line-height: 30px;
}

.b-headerMenuTitle__txt {
  display: block;
  font-size: 15px;
  text-transform: uppercase;
  line-height: 11px;
  margin-top: 11px;
  letter-spacing: 3px;
}

@media (max-width: 575px) {
  .b-headerMenuTitle__txt_size_xs {
    letter-spacing: 2px;
  }
}

.b-headerMenuList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.b-headerMenuList_mobile {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
  flex-shrink: 0;
}

@media (min-width: 992px) {
  .b-headerMenuList_size_lg {
    float: right;
  }
}

@media (max-width: 767px) {
  .b-headerMenuList_size_sm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
}

@media (max-width: 575px) {
  .b-headerMenuList_size_xs {
    display: none;
  }
}

.b-headerMenuList__item {
  width: auto;
  display: block;
  font-size: 17px;
  font-weight: 900;
  text-align: center;
  color: #fff;
  line-height: 34px;
  padding: 0 15px;
  border-radius: 17px;
  border: 1px solid transparent;
  text-transform: uppercase;
  transition: .3s;
  box-shadow: 10px 10px 5px #000;
  background-color: rgba(0, 0, 0, 0.5);
}

.b-headerMenuList__item:hover {
  color: #ffc61a;
  transition: .3s;
}

.b-headerMenuList__item:active {
  transform: scale(0.95, 0.95);
  text-shadow: none;
  box-shadow: 5px 5px 5px #000;
  transition: 0s;
}

@media (max-width: 767px) {
  .b-headerMenuList__item_size_sm {
    margin: auto;
  }
}

@media (max-width: 575px) {
  .b-headerMenuList__item_size_xs {
    margin: auto;
    margin-right: 0;
  }
}

@media (min-width: 992px) {
  .b-headerMenuList__item_size_lg {
    margin-left: 5px;
  }
}

.b-headerMenuList__item_current {
  color: #010101;
  background-color: #ffc61a;
  text-shadow: none;
}

.b-headerMenuList__item_current:hover {
  color: #fff;
}

.b-headerMenu__image {
  display: block;
  flex-shrink: 1;
  width: 100%;
  max-width: 350px;
  order: 2;
  align-self: flex-start;
  margin-top: 15px;
}

.header .pos-f-t {
  display: none;
}

.header .pos-f-t .navbar {
  justify-content: flex-end;
  padding: 10px 20px;
}

.header .pos-f-t .navbar-dark .navbar-toggler {
  border-color: #ffc61a;
  box-shadow: 10px 10px 5px 0 #000;
  transition: .3s;
  outline: none;
}

.header .pos-f-t .navbar-dark .navbar-toggler:hover {
  border-color: #fff;
  transition: .3s;
}

.header .pos-f-t .navbar-dark .navbar-toggler:active {
  transform: scale(0.95, 0.95);
  box-shadow: 5px 5px 5px #000;
  transition: 0s;
}

@media (max-width: 575px) {
  .header .pos-f-t {
    float: right;
    display: block;
    width: 100%;
  }
}

.header .pos-f-t .p-4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 20px !important;
}

.b-headerBooking {
  color: #fff;
  font-weight: 900;
}

.b-headerBooking_center {
  margin: 60px auto 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 767px) {
  .b-headerBooking_center {
    margin: 40px auto 0;
  }
}

@media (max-width: 575px) {
  .b-headerBooking_center {
    margin-top: 10px;
  }
}

.b-headerBooking__title {
  color: #ffc61a;
  font-size: 36px;
  line-height: 26px;
  text-transform: uppercase;
  text-shadow: 10px 10px 5px #000;
}

.b-headerBooking__title_center {
  margin-bottom: 20px;
}

@media (max-width: 575px) {
  .b-headerBooking__title_size_xs {
    font-size: 24px;
  }
}

.b-headerBooking__tel, .b-headerBooking__site {
  display: block;
  text-shadow: 10px 10px 5px #000;
}

.b-headerBooking__tel {
  font-size: 72px;
  line-height: 55px;
  transition: .3s;
}

.b-headerBooking__tel:hover {
  color: inherit;
  transform: scale(1.05, 1);
  transition: .3s;
}

.b-headerBooking__tel:active {
  transform: scale(0.95, 0.95);
  text-shadow: 5px 5px 5px #000;
  transition: 0s;
}

.b-headerBooking__tel_center {
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .b-headerBooking__tel_size_sm {
    font-size: 46px;
  }
}

@media (max-width: 575px) {
  .b-headerBooking__tel_size_xs {
    font-size: 32px;
    line-height: 36px;
  }
}

.b-headerBooking__site {
  font-size: 20px;
  line-height: 15px;
  font-variant: small-caps;
  letter-spacing: 5px;
  transition: .3s;
}

.b-headerBooking__site:hover {
  color: #ffc61a;
  transition: .3s;
}

.b-headerBooking__site:active {
  transform: scale(0.95, 0.95);
  text-shadow: 5px 5px 5px #000;
  transition: 0s;
}

.b-headerBooking__site_center {
  margin-bottom: 65px;
}

@media (max-width: 767px) {
  .b-headerBooking__site_size_sm {
    margin-bottom: 30px;
  }
}

@media (max-width: 575px) {
  .b-headerBooking__site_size_xs {
    letter-spacing: normal;
    margin-bottom: 0;
  }
}

.b-headerBooking__image {
  display: block;
  max-width: 826px;
  width: 70%;
}

@media (max-width: 767px) {
  .b-headerBooking__image {
    width: 90%;
  }
}

@media (max-width: 575px) {
  .b-headerBooking__image {
    display: none;
  }
}

.b-headerBooking__image_center {
  margin-bottom: -115px;
  position: relative;
  z-index: 2;
}

.main {
  background-color: #fff;
}

.b-mainDiscribe {
  background-color: #ffc61a;
}

.b-mainDiscribeContainer {
  padding: 160px 30px 80px;
}

@media (max-width: 991px) {
  .b-mainDiscribeContainer_size_md {
    padding: 160px 20px 40px;
  }
}

@media (max-width: 575px) {
  .b-mainDiscribeContainer_size_xs {
    padding: 50px 20px 30px;
  }
}

@media (max-width: 575px) {
  .b-mainDiscribeInfo_size_xs {
    text-align: center;
  }
}

.b-mainDiscribeInfo__title {
  color: #100f0f;
  font-size: 50px;
  font-weight: 900;
  text-align: inherit;
  text-transform: uppercase;
}

.b-mainDiscribeInfo__title_top {
  margin-bottom: 45px;
}

@media (max-width: 991px) {
  .b-mainDiscribeInfo__title_size_md {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .b-mainDiscribeInfo__title_size_sm {
    font-size: 35px;
  }
}

.b-mainDiscribeInfo__best {
  display: block;
  color: rgba(0, 0, 0, 0.68);
  font-size: 35px;
  line-height: 26px;
  font-weight: 900;
  text-align: inherit;
}

.b-mainDiscribeInfo__best_top {
  margin-bottom: 25px;
}

@media (max-width: 767px) {
  .b-mainDiscribeInfo__best_size_sm {
    font-size: 26px;
    margin-bottom: 15px;
  }
}

.b-mainDiscribeInfo__txt {
  color: #100f0f;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
}

.b-mainDiscribeInfo__txt_middle {
  margin-bottom: 60px;
}

@media (max-width: 991px) {
  .b-mainDiscribeInfo__txt_size_md {
    margin-bottom: 30px;
    text-align: justify;
  }
}

.b-mainDiscribeInfo__btn {
  display: inline-block;
  border-radius: 7px;
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
  font-size: 24px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  padding: 12px 35px;
  box-shadow: 5px 5px 40px 0 #000;
  transition: .3s;
}

.b-mainDiscribeInfo__btn:hover {
  color: #6ae9ff;
  transition: .3s;
  box-shadow: 5px 5px 40px 4px #000;
}

.b-mainDiscribeInfo__btn:active {
  box-shadow: 5px 5px 25px 0 #000;
  transform: scale(0.95, 0.95);
  transition: 0s;
  background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 991px) {
  .b-mainDiscribeInfo__btn_size_md {
    float: right;
  }
  .b-mainDiscribeInfo__btn_size_md::after {
    content: '';
    display: block;
    clear: both;
  }
}

@media (max-width: 575px) {
  .b-mainDiscribeInfo__btn_size_xs {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}

.b-mainDiscribeBooking {
  background-color: #fff;
  box-shadow: 5px 5px 40px 0 #000;
  border-radius: 20px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .b-mainDiscribeBooking_size_md {
    margin: 50px auto 0;
    width: 90%;
  }
}

@media (max-width: 767px) {
  .b-mainDiscribeBooking_size_sm {
    margin-top: 50px;
  }
}

.b-mainDiscribeBooking__title {
  background-color: #171717;
  color: #fff;
  font-size: 35px;
  line-height: 25px;
  font-weight: 900;
  text-align: center;
  padding: 25px 20px;
  text-transform: uppercase;
  border: 6px solid #ffc61a;
  border-radius: 20px;
  box-shadow: 5px 5px 40px 0 #000;
  animation-name: glowingTitle;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes glowingTitle {
  from {
    text-shadow: 0px 0px 50px #ffc61a;
    border-color: transparent;
  }
  to {
    text-shadow: 0px 0px 25px #fff;
    border-color: #ffc61a;
    border-color: rgba(255, 198, 26, 0.5);
  }
}

.b-mainDiscribeBooking__decorate {
  color: #ffc61a;
  animation-name: glowingDecorate;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes glowingDecorate {
  from {
    text-shadow: 0px 0px 50px #fff;
  }
  to {
    text-shadow: 0px 0px 25px #ffc61a;
  }
}

.b-mainDiscribeBooking__decorate:hover {
  text-shadow: none;
}

.b-mainDiscribeBooking__form {
  padding: 0 20px 20px;
  margin-top: 30px;
}

.b-mainDiscribeBooking__item {
  display: block;
  width: 100%;
  min-height: 30px;
  margin-top: 20px;
  padding: 0;
  color: rgba(0, 0, 0, 0.68);
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  text-align: left;
  outline: none;
  border: none;
  border-bottom: 3px solid #e4e4e4;
  caret-color: #000;
  background-color: transparent;
  transition: 0.3s;
}

.b-mainDiscribeBooking__item::placeholder {
  color: rgba(0, 0, 0, 0.68);
  font-size: 20px;
  font-weight: 600;
  text-align: left;
}

.b-mainDiscribeBooking__item:focus {
  background-color: #eee;
  border-color: #000;
}

.b-mainDiscribeBooking__item_date::before, .b-mainDiscribeBooking__item_time::before {
  content: attr(placeholder) !important;
  display: block;
  float: left;
  color: rgba(0, 0, 0, 0.68);
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  margin-right: 10px;
}

.b-mainDiscribeBooking__item_date:focus::before, .b-mainDiscribeBooking__item_date:valid::before, .b-mainDiscribeBooking__item_time:focus::before, .b-mainDiscribeBooking__item_time:valid::before {
  content: "";
  display: none;
}

.b-mainDiscribeBooking__choice {
  color: #000;
}

.b-mainDiscribeBooking__btn {
  display: block;
  width: 100%;
  margin-top: 40px;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  padding: 12px 0;
  border-radius: 7px;
  box-shadow: 5px 5px 40px 0 #000;
  transition: .3s;
  outline: none;
  border-width: 0;
}

.b-mainDiscribeBooking__btn:hover {
  color: #6ae9ff;
  transition: .3s;
  box-shadow: 5px 5px 40px 4px #000;
}

.b-mainDiscribeBooking__btn:active {
  box-shadow: 5px 5px 25px 0 #000;
  transform: scale(0.95, 0.95);
  transition: 0s;
}

.b-mainTariffs {
  background-color: #fcfcfc;
}

.b-mainTariffsContainer {
  padding: 65px 30px;
}

@media (max-width: 991px) {
  .b-mainTariffsContainer_size_md {
    padding: 40px 20px;
  }
}

@media (max-width: 575px) {
  .b-mainTariffsContainer_size_xs {
    padding: 30px 0;
  }
}

.b-mainTariffs__title {
  color: rgba(0, 0, 0, 0.68);
  font-size: 44px;
  line-height: 32px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .b-mainTariffs__title {
    font-size: 35px;
  }
}

.b-mainTariffs__title_top {
  margin-bottom: 50px;
}

@media (max-width: 991px) {
  .b-mainTariffs__title_top {
    margin-bottom: 30px;
  }
}

.b-mainTariffs__decorate {
  display: block;
  color: #ffc61a;
  font-size: 35px;
  line-height: 26px;
  font-weight: 900;
  text-align: center;
}

@media (max-width: 991px) {
  .b-mainTariffs__decorate {
    font-size: 26px;
  }
}

.b-mainTariffs__decorate_top {
  margin-bottom: 7px;
}

.b-mainTariffsBox {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 991px) {
  .b-mainTariffsBox_size_md {
    flex-direction: column;
  }
}

.b-mainTariffsItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f4f2;
  width: 100%;
  text-align: center;
  padding: 0 10px 25px;
  box-shadow: 5px 5px 40px 0 #000;
}

@media (max-width: 991px) {
  .b-mainTariffsItem {
    padding: 0 20px 25px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .b-mainTariffsItem_size_md {
    width: 70%;
  }
}

.b-mainTariffsItem_bottom {
  margin-top: 85px;
}

@media (max-width: 1200px) {
  .b-mainTariffsItem_bottom {
    margin-top: 60px;
  }
}

.b-mainTariffsItem_primary {
  margin-left: 20px;
  margin-right: 20px;
  background-color: #ffc61a;
  box-sizing: border-box;
  position: relative;
}

.b-mainTariffsItem_primary::before {
  content: '';
  display: block;
  height: 100%;
  background-color: #fff;
  border-bottom: 200px solid #1b1b1b;
  border-left: 80px solid transparent;
  position: absolute;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
}

.b-mainTariffsItem_primary::after {
  content: "\f005";
  font-family: FontAwesome;
  color: #ffc61a;
  display: block;
  border: 7px solid #fff;
  border-radius: 50%;
  font-size: 40px;
  line-height: 40px;
  padding: 3px;
  position: absolute;
  right: 20px;
  bottom: 80px;
  z-index: 1;
  animation-name: jumping;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

@keyframes jumping {
  0% {
    z-index: 1;
    right: 10px;
    bottom: 75px;
    transform: rotateZ(0deg) scale(0.7, 0.7);
    text-shadow: 0px 0px 0 #000;
    background-color: #fff;
    border: 5px solid #fff;
    border-radius: 50%;
  }
  2% {
    border: 5px solid transparent;
    border-radius: 50%;
    background-color: transparent;
  }
  9% {
    z-index: 3;
    text-shadow: 0px 0px 50px #000;
    transform: rotateZ(36deg) scale(1.5, 1.5);
    border: 5px solid transparent;
    border-radius: 50%;
  }
  17% {
    right: calc(50% - 115px);
    bottom: 18px;
    transform: rotateZ(72deg) scale(0.8, 0.8);
  }
  20% {
    right: calc(50% - 115px);
    bottom: 18px;
    transform: rotateZ(72deg) scale(0.8, 0.8);
  }
  27% {
    right: calc(50% - 132px);
    bottom: 18px;
    transform: rotateZ(216deg) scale(0.8, 0.8);
  }
  30% {
    text-shadow: 0px 0px 50px #000;
    transform: perspective(50px) rotateY(90deg) rotateZ(216deg) scale(0.8, 0.8);
  }
  35% {
    transform: perspective(50px) rotateY(180deg) rotateZ(216deg) scale(0.8, 0.8);
  }
  40% {
    transform: perspective(50px) rotateY(270deg) rotateZ(216deg) scale(0.8, 0.8);
  }
  47% {
    transform: perspective(50px) rotateY(360deg) rotateZ(216deg) scale(0.8, 0.8);
  }
  50% {
    right: calc(50% - 132px);
    bottom: 18px;
    transform: perspective(50px) rotateY(405deg) rotateZ(216deg) scale(0.8, 0.8);
  }
  60% {
    text-shadow: 0px 0px 50px #000;
    transform: rotateZ(288deg) rotateX(180deg) scale(1.4, 1.4);
  }
  70% {
    right: 10px;
    bottom: 75px;
    transform: rotateZ(360deg) scale(0.7, 0.7);
    text-shadow: 0px 0px 0 #000;
    background-color: transparent;
    border: 5px solid transparent;
    border-radius: 50%;
  }
  80% {
    background-color: #1b1b1b;
    border: 5px solid #1b1b1b;
    border-radius: 50%;
  }
  90% {
    border: 5px solid transparent;
    background-color: #1b1b1b;
  }
  100% {
    z-index: 1;
    right: 10px;
    bottom: 75px;
    transform: rotateZ(360deg) scale(0.7, 0.7);
    text-shadow: 0px 0px 0 #000;
    background-color: #fff;
    border: 5px solid transparent;
    border-radius: 50%;
  }
}

@media (max-width: 991px) {
  .b-mainTariffsItem_primary {
    margin: 80px 0 20px;
    align-self: flex-end;
  }
}

.b-mainTariffsItem_primary:hover::after {
  animation-play-state: paused;
}

.b-mainTariffsItem__image {
  width: 100%;
  max-width: 300px;
  z-index: 2;
}

.b-mainTariffsItem__image_top {
  margin-top: -85px;
  margin-bottom: 30px;
}

@media (max-width: 1200px) {
  .b-mainTariffsItem__image_top {
    margin-top: -60px;
  }
}

@media (max-width: 991px) {
  .b-mainTariffsItem__image_top {
    margin-bottom: 20px;
  }
}

.b-mainTariffsItem__title {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.68);
  font-size: 30px;
  font-weight: 900;
  line-height: 26px;
  z-index: 2;
}

.b-mainTariffsItem__title_top {
  margin-bottom: 30px;
}

@media (max-width: 991px) {
  .b-mainTariffsItem__title_top {
    margin-bottom: 20px;
  }
}

.b-mainTariffsItem__txt {
  color: #100f0f;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  z-index: 2;
}

.b-mainTariffsItem__txt_top {
  margin-bottom: 35px;
}

@media (max-width: 991px) {
  .b-mainTariffsItem__txt_top {
    margin-bottom: 20px;
  }
}

.b-mainTariffsItem__price {
  color: #ffc61a;
  font-size: 44px;
  font-weight: 900;
  text-align: center;
  line-height: 43px;
  text-transform: uppercase;
  z-index: 2;
}

@media (max-width: 991px) {
  .b-mainTariffsItem__price {
    font-size: 35px;
  }
}

.b-mainTariffsItem__price_top {
  margin-bottom: 35px;
}

@media (max-width: 991px) {
  .b-mainTariffsItem__price_top {
    margin-bottom: 20px;
  }
}

.b-mainTariffsItem__price_primary {
  color: #1b1b1b;
}

.b-mainTariffsItem__btn {
  display: inline-block;
  border-radius: 7px;
  text-transform: uppercase;
  color: #000;
  background-color: #ffc61a;
  font-size: 24px;
  line-height: 21px;
  font-weight: 400;
  text-align: center;
  padding: 12px 35px;
  box-shadow: 5px 5px 40px 0 #000;
  transition: .3s;
  z-index: 2;
}

.b-mainTariffsItem__btn:hover {
  color: #fff;
  transition: .3s;
  box-shadow: 5px 5px 40px 4px #000;
}

.b-mainTariffsItem__btn:active {
  box-shadow: 5px 5px 25px 0 #000;
  transform: scale(0.95, 0.95);
  transition: 0s;
}

.b-mainTariffsItem__btn_primary {
  background-color: #1b1b1b;
  color: #fff;
}

.b-mainTariffsItem__btn_primary:hover {
  color: #6ae9ff;
}

.footer {
  height: 500px;
  background-color: #c6cc71;
}
