.b-headerBooking {
	color: #fff;
	font-weight: 900;

	&_center {
		margin: 60px auto 0;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;

		@media (max-width: 767px) {
			margin: 40px auto 0;
		}

		@media (max-width: 575px) {
			margin-top: 10px;
		}
	}

	&__title {
		color:  $mainColor;
		font-size: 36px;
		line-height: 26px;
		text-transform: uppercase;
		text-shadow: 10px 10px 5px #000;
		
		&_center {
			margin-bottom: 20px;
		}

		&_size_xs {
			@media (max-width: 575px) {
				font-size: 24px;
			}
		}


	}

	&__tel,
	&__site {
		display: block;
		text-shadow: 10px 10px 5px #000;

		// &:active {
		// 	transform: scale(0.95, 0.95);
		// 	text-shadow: 5px 5px 5px #000;
		// }
	}

	&__tel {
		font-size: 72px;
		line-height: 55px;
		transition: .3s;

		&:hover {
			// color: $mainColor;
			color: inherit;
			transform: scale(1.05, 1);
			transition: .3s;
		}

		&:active {
			transform: scale(0.95, 0.95);
			text-shadow: 5px 5px 5px #000;
			transition: 0s;
		}

		&_center {
			margin-bottom: 30px;
		}

		&_size_sm {
			@media (max-width: 767px) {
				font-size: 46px;
			}
		}

		&_size_xs {
			@media (max-width: 575px) {
				font-size: 32px;
				line-height: 36px;
			}
		}
	}

	&__site {
		font-size: 20px;
		line-height: 15px;
		font-variant: small-caps;
		letter-spacing: 5px;
		// text-transform: uppercase;
		transition: .3s;

		&:hover {
			// text-decoration: underline;
			// text-decoration-style: dotted;
			color: $mainColor;
			transition: .3s;
		}

		&:active {
			transform: scale(0.95, 0.95);
			text-shadow: 5px 5px 5px #000;
			transition: 0s;
		}

		&_center {
			margin-bottom: 65px;
		}

		&_size {
			&_sm {
				@media (max-width: 767px) {
					margin-bottom: 30px;
				}
			}

			&_xs {
				@media (max-width: 575px) {
					letter-spacing: normal;
					margin-bottom: 0;
				}
			}
		}
	}

	&__image {
		display: block;
		max-width: 826px;
		width: 70%;

		@media (max-width: 767px) {
			width: 90%;
		}

		@media (max-width: 575px) {
			display: none;
		}

		&_center {
			// margin: 0 auto;
			margin-bottom: -115px;
			position: relative;
			z-index: 2;
		}
	}
}
