.b-headerMenu {
	
	&:after {
		content:'';
		display: block;
		clear: both;
	}
	
	&Title {
		width: auto;
		color:  #fff;
		font-size: 40px;
		font-weight: 900;
		text-align: center;

		&_size {
			&_lg {
				@media (min-width: 992px) {
					float: left;
					margin-top: 7px;
				}
			}

			&_md {
				@media (max-width: 991px) {
					margin-bottom: 25px;
				}
			}

			&_xs {
				@media (max-width: 575px) {
					// float: left;
					position: absolute;
					z-index: 2;
				}
			}
		}

		&__link {
			width: auto;
			display: block;
			color: inherit;
			line-height: 30px;
			transition: .3s;
			text-shadow: 10px 10px 5px #000;
			
			&:hover {
				color: $mainColor;
				transition: .3s;
				
				&>* {
					color: $mainColor;
					transition: inherit;
				}
			}

			&:active {
				transform: scale(0.95, 0.95);
				text-shadow: 5px 5px 5px #000;
				transition: 0s;
			}
		}
		
		&__decorate {
			display: inline-block;
			color:  #daa504;
			text-transform: uppercase;
			line-height: 30px;
		}

		&__txt {
			display: block;
			font-size: 15px;
			text-transform: uppercase;
			line-height: 11px;
			margin-top: 11px;
			letter-spacing: 3px;

			&_size_xs {
				@media (max-width: 575px) {
					letter-spacing: 2px;
				}
			}
		}
	}

	&List {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		&_mobile {
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 15px;
			flex-shrink: 0;
		}

		&_size {
			&_lg {
				@media (min-width: 992px){
					float: right;
				}
			}

			&_sm {
				@media (max-width: 767px) {
					// display: grid;
					// grid-template-columns: 1fr 1fr;
					// grid-gap: 20px;
					display: flex;
					justify-content: space-between;
					flex-wrap: wrap;
					min-height: 100px;
				}
			}

			&_xs {
				@media (max-width: 575px) {
					// grid-template-columns: 1fr;
					// grid-gap: 15px;
					display: none;
				}
			}
		}
	
		&__item {
			width: auto;
			display: block;
			font-size: 17px;
			font-weight: 900;
			text-align: center;
			color: #fff;
			line-height: 34px;
			padding: 0 15px;
			border-radius: 17px;
			border: 1px solid transparent;
			text-transform: uppercase;
			transition: .3s;
			// text-shadow: 10px 10px 0 #000;
			box-shadow: 10px 10px 5px #000;
			background-color: rgba(0, 0, 0, 0.5);

			&:hover {
				color: $mainColor;
				// border: 1px solid $mainColor;
				transition: .3s;
			}

			&:active {
				transform: scale(0.95, 0.95);
				text-shadow: none;
				box-shadow: 5px 5px 5px #000;
				transition: 0s;
			}

			&_size_sm {
				@media (max-width: 767px) {
					margin: auto;
				}
			}

			&_size_xs {
				@media (max-width: 575px) {
					margin: auto;
					margin-right: 0;
				}
			}

			&_size_lg {
				@media (min-width: 992px) {
					margin-left: 5px;
				}
			}

			&_current {
				color: #010101;
				background-color: $mainColor;
				text-shadow: none;

				&:hover {
					color: #fff;
				}
			}
		}
	}

	&__image {
		display: block;
		flex-shrink: 1;
		width: 100%;
		max-width: 350px;
		order: 2;
		align-self: flex-start;
		margin-top: 15px;
	}
}
