.b-footerCopyrights {
	text-align: center;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	line-height: 14px;
	padding: 20px 0;

	&_size_xs {
		@media (max-width: 575px) {
			padding-bottom: 72px;
		}
	}

	&__link:hover {
		color: $mainColor;
	}
}