.b-mainTariffs {
	background-color: #fcfcfc;

	&Container {
		padding: 65px 30px;
		// box-shadow: 5px 12px 20px 0 #000;
		// background-color: #fcfcfc;
		// position: relative;
		// z-index: 1;
		// top: -10px;

		&_size {
			&_md {
				@media (max-width: 991px) {
					padding: 40px 20px;
				}
			}

			&_xs {
				@media (max-width: 575px) {
					padding: 30px 0;
				}
			}
		}
	}

	// &Row {
	// 	@media (max-width: 575px) {
	// 		margin: 0;

	// 		&>.col,
	// 		&>[class*="col-"] {
	// 			padding-right: 0;
	// 			padding-left: 0;
	// 		}
	// 	}
	// }

	&__title {
		color:  rgba(0, 0, 0, 0.68);
		font-size: 44px;
		line-height: 32px;
		font-weight: 900;
		text-align: center;
		text-transform: uppercase;

		@media (max-width: 991px) {
			font-size: 35px;
			// line-height: 26px;
		}

		&_top {
			margin-bottom: 50px;

			@media (max-width: 991px) {
				margin-bottom: 30px;
			}
		}
	}

	&__decorate {
		display: block;
		color: $mainColor;
		font-size: 35px;
		line-height: 26px;
		font-weight: 900;
		text-align: center;

		@media (max-width: 991px) {
			font-size: 26px;
		}

		&_top {
			margin-bottom: 7px;
		}
	}

	&Box {
		display: flex;
		justify-content: space-between;
		// display: grid;
		// grid-template-columns: repeat(3, 1fr);
		// grid-gap: 20px;

		&_size {
			&_md {
				@media (max-width: 991px) {
					// grid-template-columns: 1fr;
					flex-direction: column;
				}
			}

			&_sm {
				@media (max-width: 767px) {
					
				}
			}
		}
	}

	&Item {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		// min-height: 500px;
		background-color: #f5f4f2;
		width: 100%;
		text-align: center;
		// padding-bottom: 25px;
		padding: 0 10px 25px;
		box-shadow: 5px 5px 40px 0 #000;

		@media (max-width: 991px) {
			padding: 0 20px 25px;
		}

		&_size_md {
			@media (min-width: 768px) and (max-width: 991px) {
				width: 70%;
			}
		}

		&_bottom {
			margin-top: 85px;

			@media (max-width: 1200px) {
				margin-top: 60px;
			}
		}
		
		&_primary {
			margin-left: 20px;
			margin-right: 20px;
			background-color: $mainColor;
			box-sizing: border-box;
			position: relative;
			
				// transform-origin: 0 50%;
			// color: #131313;

			&::before {
				content: '';
				display: block;
				// width: 0;
				// height: 0;
				// width: 80px;
				// width: 30%;
				// height: 300px;
				height: 100%;
				background-color: #fff;
				border-bottom: 200px solid #1b1b1b;
				border-left: 80px solid transparent;
				// border-right: 75px solid red;
				position: absolute;
				right: 0;
				bottom: 0;
				// z-index: 1;
				box-sizing: border-box;
				

				// @media (max-width: 991px) {
				// 	bottom: 30px;
				// }

				// @media (max-width: 575px) {
				// 	right: 0px;
				// }
			}

			&::after {
				content: "\f005";
				font-family: FontAwesome;
				color: $mainColor;
				// color: 	#fff;
				// background-color: red;
				display: block;
				// border: 5px solid transparent;
				border-radius: 50%;
				// height: 100%;
			// font-size: 20px;
				// width:40px;
				// height: 40px;
				box-sizing: border-box;
				font-size: 40px;
				line-height: 40px;
				padding: 10px;
				position: absolute;
				right: 20px;
				bottom: 80px;
				z-index: 1;
				animation-name: jumping;
				animation-duration: 10s;
				animation-timing-function: linear;
				animation-delay: 0s;
				animation-iteration-count: infinite;
				// animation-direction: alternate;

				@keyframes jumping {
					0% {
						z-index: 1;
						right: 10px;
						bottom: 75px;
						transform: rotateZ(0deg) scale(.7, .7);
						text-shadow: 0px 0px 0 #000;
						background-color: #fff;
						// border: 5px solid #fff;
						border-radius: 50%;
					}
					2% {
						// border: 5px solid transparent;
						border-radius: 50%;
						background-color: transparent;
					}
					9% {
						z-index: 3;
						text-shadow: 0px 0px 50px #000;
						transform: rotateZ(36deg) scale(1.5, 1.5);
						// border: 5px solid transparent;
						border-radius: 50%;
					}
					17% {
						// right: 15px;
						right: calc(50% - 115px);
						bottom: 18px;
						transform: rotateZ(72deg) scale(.8, .8);
					}
					20% {
						right: calc(50% - 115px);
						bottom: 18px;
						transform: rotateZ(72deg) scale(.8, .8);
					}
					27% {
						right: calc(50% - 132px);
						bottom: 18px;
						transform: rotateZ(216deg) scale(.8, .8);
					}
					30% {
						text-shadow: 0px 0px 50px #000;
						transform: perspective(50px) rotateY(90deg) rotateZ(216deg) scale(.8, .8);
					}
					35%{
						transform: perspective(50px) rotateY(180deg) rotateZ(216deg)  scale(.8, .8);
					}
					40% {
						transform: perspective(50px) rotateY(270deg) rotateZ(216deg)  scale(.8, .8);
					}
					47%{
						transform: perspective(50px) rotateY(360deg) rotateZ(216deg)  scale(.8, .8);
					}
					50% {
						right: calc(50% - 132px);
						bottom: 18px;
						transform: perspective(50px) rotateY(405deg) rotateZ(216deg)  scale(.8, .8);
					}
					60% {
						text-shadow: 0px 0px 50px #000;
						transform: rotateZ(288deg) rotateX(180deg) scale(1.4, 1.4);
					}
					70% {
						right: 10px;
						bottom: 75px;
						transform: rotateZ(360deg) scale(.7, .7);
						text-shadow: 0px 0px 0 #000;
						background-color: transparent;
						// border: 5px solid transparent;
						border-radius: 50%;
					}
					80% {
						background-color: #1b1b1b;
						// border: 5px solid #1b1b1b;
						border-radius: 50%;
					}
					90% {
						// border: 5px solid #1b1b1b;
						background-color: #1b1b1b;
					}
					100% {
						z-index: 1;
						right: 10px;
						bottom: 75px;
						transform: rotateZ(360deg) scale(.7, .7);
						text-shadow: 0px 0px 0 #000;
						background-color: #fff;
						// border: 5px solid #fff;
						border-radius: 50%;
					}
				}

				// @keyframes jumping {
				// 	0% {
				// 		z-index: 1;
				// 		right: 20px;
				// 		bottom: 80px;
				// 		transform: rotateZ(0deg) scale(.5, .5);
				// 		text-shadow: 0px 0px 0 #000;
				// 	}
				// 	9% {
				// 		z-index: 3;
				// 		text-shadow: 0px 0px 50px #000;
				// 		transform: rotateZ(36deg) scale(2, 2);
				// 	}
				// 	17% {
				// 		right: 75px;
				// 		bottom: 25px;
				// 		transform: rotateZ(72deg) scale(.8, .8);
				// 	}
				// 	20% {
				// 		right: 75px;
				// 		bottom: 25px;
				// 		transform: rotateZ(72deg) scale(.8, .8);
				// 	}
				// 	27% {
				// 		right: 45px;
				// 		bottom: 25px;
				// 		transform: rotateZ(216deg) scale(.8, .8);
				// 	}
				// 	30% {
				// 		right: 45px;
				// 		bottom: 25px;
				// 		text-shadow: 0px 0px 50px #000;
				// 		transform: perspective(50px) rotateY(45deg) rotateZ(216deg) scale(.8, .8);
				// 	}
				// 	35%{
				// 		right: 45px;
				// 		bottom: 25px;
				// 		transform: perspective(50px) rotateY(0deg) rotateZ(216deg)  scale(.8, .8);
				// 	}
				// 	40% {
				// 		right: 45px;
				// 		bottom: 25px;
				// 		transform: perspective(50px) rotateY(-45deg) rotateZ(216deg)  scale(.8, .8);
				// 	}
				// 	47%{
				// 		right: 45px;
				// 		bottom: 25px;
				// 		transform: perspective(50px) rotateY(0deg) rotateZ(216deg)  scale(.8, .8);
				// 	}
				// 	50% {
				// 		right: 45px;
				// 		bottom: 25px;
				// 		transform: perspective(50px) rotateY(45deg) rotateZ(216deg)  scale(.8, .8);
				// 	}
				// 	60% {
				// 		text-shadow: 0px 0px 50px #000;
				// 		transform: rotateZ(288deg) rotateX(180deg) scale(.7, .7);
				// 	}
				// 	70% {
				// 		right: 20px;
				// 		bottom: 80px;
				// 		transform: rotateZ(360deg) scale(.5, .5);
				// 		text-shadow: 0px 0px 0 #000;
				// 		background-color: transparent;
				// 	}
				// 	80% {
				// 		background-color: red;
				// 	}
				// 	100% {
				// 		z-index: 1;
				// 		right: 20px;
				// 		bottom: 80px;
				// 		transform: rotateZ(360deg) scale(.5, .5);
				// 		text-shadow: 0px 0px 0 #000;
				// 		background-color: red;
				// 	}
				// }
			}

			@media (max-width: 991px) {
				margin: 80px 0 20px;
				align-self: flex-end;
			}

			&:hover::after {
				// animation-duration: 5s;
				animation-play-state: paused;
			}
		}

		&__image {
			width: 100%;
			max-width: 300px;
			z-index: 2;
			
			// position: relative;
			// top: -85px;
			
			&_top {
				margin-top: -85px;
				margin-bottom: 30px;

				@media (max-width: 1200px) {
					margin-top: -60px;
				}

				@media (max-width: 991px) {
					margin-bottom: 20px;
				}
			}

			// &_size {
			// 	&_md {
					
			// 	}
			// }
		}

		&__title {
			text-transform: uppercase;
			color:  rgba(0, 0, 0, 0.68);
			font-size: 30px;
			font-weight: 900;
			// text-align: center;
			line-height: 26px;
			z-index: 2;

			&_top {
				margin-bottom: 30px;

				@media (max-width: 991px) {
					margin-bottom: 20px;
				}
			}
		}

		&__txt {
			color: #100f0f;
			font-size: 18px;
			font-weight: 400;
			// text-align: center;
			line-height: 20px;
			z-index: 2;

			&_top {
				margin-bottom: 35px;

				@media (max-width: 991px) {
					margin-bottom: 20px;
				}
			}
		}

		&__price {
			color:  $mainColor;
			font-size: 44px;
			font-weight: 900;
			text-align: center;
			line-height: 43px;
			text-transform: uppercase;
			z-index: 2;

			@media (max-width: 991px) {
				font-size: 35px;
			}

			&_top {
				margin-bottom: 35px;

				@media (max-width: 991px) {
					margin-bottom: 20px;
				}
			}

			&_primary {
				// color: #131313;
				color: #1b1b1b;
			}
		}

		&__btn {
			display: inline-block;
			border-radius: 7px;
			text-transform: uppercase;
			color: #000;
			background-color: $mainColor;
			font-size: 24px;
			line-height: 21px;
			font-weight: 400;
			text-align: center;
			padding: 12px 35px;
			box-shadow: 5px 5px 40px 0 #000;
			transition: .3s;
			z-index: 2;

			&:hover {
				color: #fff;
				transition: .3s;
				box-shadow: 5px 5px 40px 4px #000;
			}

			&:active {
				box-shadow: 5px 5px 25px 0 #000;
				transform: scale(0.95, 0.95);
				transition: 0s;
			}

			&_primary {
				background-color: #1b1b1b;
				color: #fff;
				// position: relative;
				// z-index: 4;
				
				@media (max-width: 575px) {
					// width: 100%;
				}

				&:hover {
					color: #6ae9ff;
				}
			}
		}
	}
}