.b-mainReviews {
	background-image: url(../img/reviewsBackground.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;

	&Container {
		padding: 65px 30px;
		// display: flex;
		// flex-direction: column;
		// box-shadow: 5px 12px 20px 0 #000;
		// background-color: #fcfcfc;
		// position: relative;
		// z-index: 1;
		// top: -10px;

		&_size {
			&_md {
				@media (max-width: 991px) {
					padding: 40px 20px;
				}
			}

			&_xs {
				@media (max-width: 575px) {
					padding: 20px 30px 40px;
				}
			}
		}
	}

	&__title {
		color:  #fff;
		font-size: 44px;
		line-height: 32px;
		font-weight: 900;
		text-align: center;
		text-transform: uppercase;

		&_size_md {
			@media (max-width: 991px) {
				font-size: 35px;
			}
		}

		&_top {
			margin-bottom: 80px;

			@media (max-width: 1199px) {
				margin-bottom: 70px;
			}

			@media (max-width: 991px) {
				margin-bottom: 40px;
			}

			@media (max-width: 575px) {
				margin-bottom: 30px;
			}
		}
	}

	&__decorate {
		display: block;
		color: $mainColor;
		font-size: 35px;
		line-height: 26px;
		font-weight: 900;
		text-align: center;

		&_size_md {
			@media (max-width: 991px) {
				font-size: 26px;
			}
		}

		&_top {
			margin-bottom: 7px;
		}
	}

	&Box {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 35px;

		&_size {
			&_lg {
				@media (max-width: 1199px) {
					// grid-column-gap: 100px;
					// grid-row-gap: 70px;
				}
			}

			&_md {
				@media (max-width: 991px) {
					grid-template-columns: 1fr;
					grid-row-gap: 50px;
				}
			}

			&_sm {
				@media (max-width: 767px) {
					grid-row-gap: 40px;
				}
			}
		}
	}

	&Item {
		text-align: left;
		background-color: #040707;
		border-radius: 30px;
		padding: 40px 50px;
		// display: block;
		position: relative;

		@media (max-width: 767px) {
			padding: 20px 30px;
		}

		@media (max-width: 991px) {
			&::after {
				content: '';
				display: block;
				border-right: 25px solid #040707;
				border-bottom: 25px solid transparent;
				position: absolute;
				bottom: -24px;
				left: 75px;
			}
		}

		@media (max-width: 575px) {
			&::after {
				left: 50px;
			}
		}
		
		@media (min-width: 992px) {
			&:nth-child(odd)::after {
				content: '';
				display: block;
				border-left: 25px solid #040707;
				border-bottom: 25px solid transparent;
				position: absolute;
				bottom: -24px;
				right: 75px;
			}

			&:nth-child(even)::after {
				content: '';
				display: block;
				border-right: 25px solid #040707;
				border-bottom: 25px solid transparent;
				position: absolute;
				bottom: -24px;
				left: 75px;
			}
		}

		&__title {
			display: none;
		}

		&__txt {
			color: #fff;
			font-size: 18px;
			font-weight: 400;
			line-height: 19px;
			
			&_top {
				margin-bottom: 25px;
			}
		}

		address {
			margin: 0;
		}

		&__author {
			display: inline-block;
			color: $mainColor;
			transition: .3s;

			&:hover {
				color: #fff;
				transition: .3s;

				.b-mainReviewsItem__image {
					transition: .3s;
					box-shadow: 0 0 25px 0 #fff;
				}
			}

			&:active {
				.b-mainReviewsItem__image {
					box-shadow: 0 0 15px 0 #fff;
					transition: 0s;
				}
			}

			&::after {
				content: '';
				display: block;
				clear: both;
			}
		}

		&__image {
			display: block;
			width: 75px;
			height: 75px;
			border-radius: 50%;
			float: left;
			transition: .3s;

			@media (max-width: 575px) {
				width: 50px;
				height: 50px;
			}
		}

		&__name {
			display: block;
			float: left;
			text-transform: uppercase;
			// color:  $mainColor;
			font-size: 25px;
			font-weight: 900;
			text-align: left;
			line-height: 18px;

			// &:hover {
			// 	color: #fff;
			// }

			@media (max-width: 575px) {
				font-size: 20px;
			}

			&_right {
				margin: 15px 0 0 18px;

				@media (max-width: 575px) {
					margin: 5px 0 0 12px;
				}
			}
		}

		&__profession {
			display: block;
			color: #fff;
			font-size: 18px;
			line-height: 14px;

			@media (max-width: 575px) {
				font-size: 16px;
			}

			&_bottom {
				margin-top: 15px;

				@media (max-width: 575px) {
					margin-top: 8px;
				}
			}
		}
	}
}